.shows {
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  & > div {
    margin-right: 15px;
  }

  &__skeleton {
    margin-top: 32px;
    & > div {
      margin-top: 15px;
    }
  }
}
