<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  [color]="'accent'"
  *ngIf="!isLoading; else skeleton"
>
  <mat-tab label="Movies">
    <app-shows [featured]="featuredMovies" [announcements]="announcementsMovies" />
  </mat-tab>
  <mat-tab label="Series">
    <app-shows [featured]="featuredSeries" [announcements]="announcementsSeries" />
  </mat-tab>
</mat-tab-group>

<ng-template #skeleton>
  <ngx-skeleton-loader
    count="2"
    animation="progress-dark"
    appearance="line"
    [theme]="{
      height: '50px',
      width: '100px',
      'background-color': '#323232',
      'border-radius': '10px'
    }"
  ></ngx-skeleton-loader>
  <div>
    <ngx-skeleton-loader
      count="2"
      animation="progress-dark"
      appearance="line"
      [theme]="{
      height: '258px',
      width: '100%',
      'background-color': '#323232',
      'border-radius': '10px'
    }"
    ></ngx-skeleton-loader>
  </div>
</ng-template>


